.cash-fluid{
    background-color: #f5f5f5;
    height: auto;
}

.cash-row{
    min-height: 1300px;
    background-color: #f5f5f5;
}

.check-out-header, .summary-header{
    margin-top: 50px;
}

.check-out-row{
    min-height: 90px;
    width: 65%;
}

.address-method{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 100%;
}

.summary-row{
    height:auto;
    width: 30%;
}

.order-method{
    background-color: white;
    padding: 2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    min-height:500px;
    width: 100%;
}

.order-method-help {
    background-color: white;
    padding: 2rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    min-height: 100px;
    width: 100%;
    margin-top: 20px;
    border: none;
}


#address-input{
    font-size: medium;
    height: 70px;
}

.address-form{
    height: 300px;
}

#saveButton {
    width: 100%;
    font-size: medium;
    color: #fff;
    background-color: #ff7b00;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    height: 60px;
}

#helpButton{
    width: 100%;
    font-size: medium;
    color: #ff7b00;
    background-color: #fff;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    height: 60px;
}

.payment-method{
    margin-top: 20px;
}

.firstName{
    font-size:25px;
}

.address-header{
   font-size: xx-large;
}

.Change{
    color: #ff7b00;
    font-size: 15px;
    margin-top: -70px;
}

.spanAmount{
    color: #ff7b00;
    font-size: 20px;
}

.NairaSum{
    color: #ff7b00;
}

.fav_language, .radioLabel{
    font-size: 18px;
}

.deliverySpan{
    font-size: 20px;
}

.header-payment{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1.5px 5px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 100%;
}

.totaltopay{
    font-size: medium;
    padding: 10px 0px 0px 10px;
}

.totaltosum {
    font-size: xx-large;
    padding: 10px 20px 0px 0px;
    color: #ff7b00;
}
.mcvisa{
    height: 40px;
    width: 120px;
}

p .address-header{
    color: black;
}

.summary-Image{
    width: 25%;
    min-height: 100px;
}
.summary-Body{
    width: 75%;
    min-height: 100px;
    padding-left: 20px;
}

.address-head{
   font-size: 18px;
}

.value-name, 
.value-quantity, 
.sub-total, 
.contact-help{
    font-size: medium;
    font-weight: 200;
}


.sub-figure, 
.TOTAL{
    font-weight: 900;
    font-size: large;
}
.value-price{
   color: #ff7b00;
   font-size:x-large;
}

.TOTAL-FIGURE{
    font-size: xx-large;
    color: #ff7b00;
}

.failedTransaction{
    font-size: xx-large;
    color: red;
}



@media screen and (min-width:900px) {
    .cash-row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media screen and (max-width: 900px) {
    .cash-fluid, .cash-row{
        background-color: #fff;
    }
    .address-method, .check-out-row{
        width: 100%;
        margin: auto;
        height: auto;
    }

    .address-header{
        font-size: 18px;
    }

    .order-method, .summary-row{
        width: 100%;
        margin: auto;
    }

    .check-out-header,
    .summary-header {
        margin-top: 50px;
    }

    .payment-method {
        margin-top: 20px;
    }

}